@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('{{ .Site.BaseURL }}fonts/SourceSerifPro-ExtraLight.ttf.woff2') format('woff2'),
         url('{{ .Site.BaseURL }}fonts/SourceSerifPro-ExtraLight.otf.woff') format('woff'),
         url('{{ .Site.BaseURL }}fonts/SourceSerifPro-ExtraLight.otf') format('opentype'),
         url('{{ .Site.BaseURL }}fonts/SourceSerifPro-ExtraLight.ttf') format('truetype');
}

